.footer_box {
    padding: 10px;
    z-index: 99;
    background: linear-gradient(90deg, rgba(0,32,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,208,0,1) 100%);
    color: black;
    text-shadow: 1px 1px 2px rgb(12, 12, 12), 0 0 1em blue, 0 0 0.2em blue;
    margin-top: 1vh;
}
.footer_box_style {
    background: linear-gradient(90deg, rgba(0,32,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,208,0,1) 100%);
}
.footer_text {
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px rgb(12, 12, 12), 0 0 1em blue, 0 0 0.2em blue;
}