table, th, td 
	{
		border:1px solid black;
	}
.table_text {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.table_heading:hover {
    
}
.table_heading_text {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.row_box:nth-child(odd) {
		background: #dde1ff;
}
.row_box:nth-child(even) {
    background: #ffffc6;
}
.row_box:hover {
    transition: 0.5s;
    color:rgb(255, 136, 0);
}
.ol__teacherlist_box {
    display: flexbox;
    flex-direction: column;
}
.ol__teacherlist_text {
    font-size: 25px;
    font-family: system-ui;
}
.ol__teacherlist_box .ol__item {
    list-style:lower-roman;
    padding-bottom: 5px;
}
.ol__teacherlist_box .ol__item:hover {
    transition: 0.1s linear;
    font-weight: bold;
}